apiVersion: v1
kind: ConfigMap
metadata:
  name: github-runner-kubeconfig
  namespace: github-runner
data:
  config: |
    apiVersion: v1
    kind: Config
    clusters:
    - cluster:
        certificate-authority: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
        server: https://kubernetes.default.svc
      name: in-cluster
    contexts:
    - context:
        cluster: in-cluster
        user: in-cluster
      name: in-cluster
    current-context: in-cluster
    users:
    - name: in-cluster
      user:
        tokenFile: /var/run/secrets/kubernetes.io/serviceaccount/token

