apiVersion: v1
kind: Service
metadata:
  name: node-service
  namespace: node-app
spec:
  type: ClusterIP
  selector:
    app: node-service
  ports:
    - name: http
      port: 80
      targetPort: 3000

